[Unit]
Description=ncubed VPNC strongSwan IPsec init
StartLimitInterval=200
StartLimitBurst=5
Wants=network-online.target
Wants=frr.service
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/ncubed/vpnc.service/.venv/bin/python3 /opt/ncubed/vpnc.service/main.py start
Restart=on-failure
RestartSec=15

[Install]
WantedBy=multi-user.target
