ip forwarding
ipv6 forwarding
agentx
!
vrf TRUST
  router-id {{ bgp_router_id }}
!
router bgp {{ bgp_asn }} vrf {{ trusted_netns }}
  neighbor MGMT-TRANSIT peer-group
  neighbor MGMT-TRANSIT advertisement-interval 0
  neighbor MGMT-TRANSIT timers 10 30
{%- for uplink in uplinks %}
  neighbor {{ uplink }} interface remote-as external
  neighbor {{ uplink }} peer-group MGMT-TRANSIT
{%- endfor %}
{%- for remove_uplink in remove_uplinks %}
  no neighbor {{ remove_uplink}}
{%- endfor %}
  address-family ipv6 unicast
    redistribute connected route-map REDIS-RM-STATIC-TO-BGP
    redistribute kernel route-map REDIS-RM-STATIC-TO-BGP
    neighbor MGMT-TRANSIT activate
    neighbor MGMT-TRANSIT route-map MGMT-TRANSIT-RM-IN in
    neighbor MGMT-TRANSIT route-map MGMT-TRANSIT-RM-OUT out
    neighbor MGMT-TRANSIT soft-reconfiguration inbound
  exit-address-family
exit
!
ipv6 prefix-list MGMT-TRANSIT-PL-IN seq 10 permit {{ management_prefix }} le 64
ipv6 prefix-list MGMT-TRANSIT-PL-OUT seq 10 permit {{ customer_prefix }} ge 96 le 96
ipv6 prefix-list REDIS-PL-IN seq 10 permit {{ customer_prefix }} ge 96 le 96
!
route-map MGMT-TRANSIT-RM-IN permit 1
  match ipv6 address prefix-list MGMT-TRANSIT-PL-IN
exit
!
route-map MGMT-TRANSIT-RM-IN deny 2
exit
!
route-map MGMT-TRANSIT-RM-OUT permit 1
  match ipv6 address prefix-list MGMT-TRANSIT-PL-OUT
exit
!
route-map MGMT-TRANSIT-RM-OUT deny 2
exit
!
route-map REDIS-RM-STATIC-TO-BGP permit 1
  match ipv6 address prefix-list REDIS-PL-IN
exit
!
end
