---
# Runtime mode
# Defines if the service is running in endpoint or hub mode
mode: endpoint

# UNTRUSTED INTERFACE CONFIG
# Untrusted/outside interface
untrusted_if_name:
# IP address of untrusted/outside interface with CIDR mask
untrusted_if_ip:
# Default gateway of untrusted/outside interface
untrusted_if_gw:

# VPN CONFIG
# IKE local identifier for VPNs
local_id:
...
