---
version: 0.0.12

# Runtime mode
# Defines if the service is running in endpoint or hub mode
mode: hub

# Network configuration
network:
  untrust:
    interface: eth1
    addresses:
    - 192.0.2.2/24
    - 2001:DB8::1/64
    routes:
    - to: default
      via: 192.0.2.1
  root:
    interface: eth0
    addresses:
    - 192.168.0.2/24
    - 2001:DB8:2::1/64
    routes:
    - to: default
      via: 192.168.0.1

# VPN CONFIG
# Optional: IKE local identifier for VPNs
# local_id: "192.168.0.150"

# Uplink VPNs
connections:
  0:
    type: ipsec # ipsec | local
    description: Uplink to provider
    # Optional
    metadata: {}
    # Optional: IPv6 interface address for tunnel/BGP peering between this host and the provider
    # client VPN host. Not required if the remote is capable of BGP unnumbered.
    interface_ip: "fd33:2:f:1::/127"
    connection:
      # Optional: If not set, defaults to the default service local_id value.
      # local_id: 192.0.2.5
      remote_peer_ip: 192.168.0.252
      # Optional: If not set, defaults to remote_peer_ip
      remote_id: 192.168.0.252
      # Optional: defaults to 2
      ike_version: 2
      # Optional: defaults to aes256gcm16-prfsha384-ecp384
      ike_proposal: aes256gcm16-prfsha384-ecp384
      # Optional: The IKE lifetime in seconds
      ike_lifetime: 86400
      # Optional: defaults to aes256gcm16-prfsha384-ecp384
      ipsec_proposal: aes256gcm16-prfsha384-ecp384
      # Optional: The IPsec lifetime in seconds
      ipsec_lifetime: 3600
      # Optional, defaults to start. Start means inititate and respond, none means respond only.
      initiation: start
      psk: secretpassword
      # Optional: mutually exclusive with traffic selectors
      # does not work in hub mode, defaults to 0.0.0.0/0,::/0
      # routes:
      # - 172.30.0.0/16
      # - 172.31.0.0/16
      # Optional: mutually exclusive with routes.
      # traffic_selectors:
      #   local:
      #   - 10.20.0.0/16
      #   - 10.21.0.0/16
      #   remote:
      #   - 172.30.0.0/16
      #   - 172.31.0.0/16
    # Customer side BGP ASN
    asn: 4132357873
    # Optional, lower is more preferred uplink for receiving traffic, defaults to 0, max is 9
    priority: 0

# OVERLAY CONFIG
# IPv6 prefix for provider client subnets initiating administration traffic to customers.
prefix_uplink: "fd33::/16"
# IP prefix for downlinks. Must be a /16, will get subnetted into /24s per downlink tunnel.
# The prefix is the same for all customers. Customers will see traffic originating from this prefix.
prefix_downlink_v4: "100.99.0.0/16"
# IPv6 prefix for downlinks. Must be a /32. Will be subnetted into /96s per downlink per tunnel.
# This is the prefix by which each customer will be uniquely identified.
# Customer 0001 will use fdcc:0:c:1::/64 and customer with identifier 0002 will use fdcc:0:c:2::/64.
prefix_downlink_v6: "fdcc::/32"

## BGP config
# ASN must be between 4.200.000.000 and 4.294.967.294 inclusive.
bgp:
  asn: 4255786768
  router_id: "0.0.0.1"
...
