---
id: c0001
name: SomeCustomer Co.
metadata:
  location: Lab
  environment: test
tunnels:
  0:
    description: ams-dc-01
    metadata:
      primary: true
    remote_peer_ip: 192.168.0.152
    remote_id: 192.168.0.152
    tunnel_ip: 172.16.31.1/24
    psk: DitIsEENV4ilugP0sSwerd!
    ike_version: 2
    ike_proposal: aes128gcm16-prfsha384-ecp384
    ipsec_proposal: aes128gcm16-ecp384
    # mutually exclusive with traffic selectors
    # does not work in hub mode
    # routes:
    # - 172.30.0.0/16
    # - 172.31.0.0/16
    # traffic_selectors:  # mutually exclusive with routes.
    #   local:
    #   - 10.20.0.0/16
    #   - 10.21.0.0/16
    #   remote:
    #   - 172.30.0.0/16
    #   - 172.31.0.0/16
  1:
    description: ams-dc-02
    metadata:
      primary: false
    remote_peer_ip: 192.168.0.153
    # remote_id: 192.168.0.153
    # tunnel_ip: 172.16.31.1/24
    psk: DitIsEENV4ilugP0sSwerd!
    # ike_version: 2
    ike_proposal: aes128gcm16-prfsha384-ecp384
    ipsec_proposal: aes128gcm16-ecp384
    # mutually exclusive with traffic selectors
    # does not work in hub mode
    # routes:
    # - 172.30.0.0/16
    # - 172.31.0.0/16
    # traffic_selectors:  # mutually exclusive with routes.
    #   local:
    #   - 10.20.0.0/16
    #   - 10.21.0.0/16
    #   remote:
    #   - 172.30.0.0/16
    #   - 172.31.0.0/16
...
