{#- NPTv6 #}
{%- if mode.name == "HUB" %}
/usr/sbin/ip netns exec {{ network_instance_name }} /usr/sbin/ip6tables -t nat -F
{%- for interface in core_interfaces %}
    {%- for network in nptv6_networks %}
/usr/sbin/ip netns exec {{ network_instance_name }} /usr/sbin/ip6tables -t nat -A PREROUTING -i {{ interface }} -d {{ network.nptv6_prefix }} -j NETMAP --to {{ network.to }}
    {%- endfor %}
{%- endfor %}
{%- endif %}


{#- NAT64 and NAT66 #}
{#- Must be at the end as both are terminating actions. #}
{%- for interface in downlink_interfaces %}
  {%- if mode.name == "ENDPOINT" %}
/usr/sbin/ip netns exec {{ network_instance_name }} /usr/sbin/iptables -t nat -A POSTROUTING -o {{ interface }} -j MASQUERADE
  {%- endif %}
/usr/sbin/ip netns exec {{ network_instance_name }} /usr/sbin/ip6tables -t nat -A POSTROUTING -o {{ interface }} -j MASQUERADE
{%- endfor %}
