[Unit]
Description=Purely to test the VPN connectivity.

[Service]
ExecStart=/bin/bash /opt/ncubed/vpnc/ncubed-vpnc-mgmt-test.sh

[Install]
WantedBy=multi-user.target
