connections {
    # Section for an IKE connection named <conn>.
{%- for conn in connections %}
    {#- t_id is tunnel_id for downlink #}
    {{ conn.remote }}-{{ conn.t_id }} {
    {%- if conn.ike_version %}
        # IKE major version to use for connection.
        version = {{ conn.ike_version }}
    {%- endif %}
        # Local address(es) to use for IKE communication, comma separated.
        local_addrs = %any
        # Remote address(es) to use for IKE communication, comma separated.
        remote_addrs = {{ conn.remote_peer_ip }}
        aggressive = no
        dpd_delay = 30s
        # Continuously tries to reconnect instead of a specific amount of times.
        keyingtries = 0
        # Tries to enforce unique connections, replaces old connection with new.
        unique = replace
        # Default inbound XFRM interface ID for children.
        if_id_in = 0x{{ conn.xfrm_id }}
        # Default outbound XFRM interface ID for children.
        if_id_out = 0x{{ conn.xfrm_id }}
        # Section for a local authentication round.
        local {
            id = {{ conn.local_id }}
            auth = psk
        }
        # Section for a remote authentication round.
        remote {
            id = {{ conn.remote_id }}
            auth = psk
        }
        proposals = {{ conn.ike_proposal | replace("ike-", "") }}
        rekey_time = {{ conn.ike_lifetime}}s

        children {
            # CHILD_SA configuration sub-section.
    {#- ts are traffic selectors #}
            {{ conn.remote }}-{{ conn.t_id }} {
    {%- if conn.ts is defined and conn.ts and conn.ts.remote is defined and conn.ts.local is defined and conn.ts.remote and conn.ts.local %}
                # Local traffic selectors to include in CHILD_SA.
                local_ts = {{ conn.ts.local }}
                # Remote selectors to include in CHILD_SA.
                remote_ts = {{ conn.ts.remote }}
    {%- else %}
                # Local traffic selectors to include in CHILD_SA.
                local_ts = 0.0.0.0/0
                # Remote selectors to include in CHILD_SA.
                remote_ts = 0.0.0.0/0
    {%- endif %}
                life_time = {{ (conn.ipsec_lifetime * 1.1) | round | int }}s
                rekey_time = {{ conn.ipsec_lifetime }}s
                rekey_bytes = 1024000000
                esp_proposals = {{ conn.ipsec_proposal | replace("ipsec-", "") }}
                dpd_action = restart
                start_action = {{ conn.initiation }}
                close_action = {{ conn.initiation }}
    {%- if updown is defined and updown is sameas true %}
                updown=/opt/ncubed/config/vpnc/scripts/updown-downlink.sh
    {%- endif %}
            }
        }
    }
{%- endfor %}
}

secrets {
{%- for conn in connections %}
    ike-{{ conn.remote }}-{{ conn.t_id }} {
        id-{{ conn.remote }}-{{ conn.t_id }} = {{ conn.remote_id }}
        secret = {{ conn.psk }}
    }
{%- endfor %}
}
