{#- Configures FRR -#}
frr version 8.4.1
frr defaults traditional
service integrated-vtysh-config
ip forwarding
ipv6 forwarding
agentx
!
vrf {{ trusted_netns }}
  netns /run/netns/{{ trusted_netns }}
  router-id {{ router_id }}
!
vrf {{ untrusted_netns }}
  netns /run/netns/{{ untrusted_netns }}
!
router bgp {{ asn }} vrf {{ trusted_netns }}
  neighbor UPLINK peer-group
  neighbor UPLINK bfd
  neighbor UPLINK advertisement-interval 0
  neighbor UPLINK timers 10 30
{%- for uplink in uplinks %}
  {%- if uplink.neighbor_ip %}
    {#- Normal BGP configuration #}
    {%- set neigh = uplink.neighbor_ip %}
  neighbor {{ neigh }} remote-as {{ uplink.neighbor_asn }}
  {%- else %}
    {#- BGP unnumbered configuration #}
    {%- set neigh = uplink.neighbor_interface_name %}
  neighbor {{ neigh }} interface remote-as {{ uplink.neighbor_asn }}
  {%- endif %}
  neighbor {{ neigh }} peer-group UPLINK
{%- endfor %}
  address-family ipv6 unicast
    redistribute connected route-map REDIS-RM-STATIC-TO-BGP
    redistribute kernel route-map REDIS-RM-STATIC-TO-BGP
    neighbor UPLINK activate
    neighbor UPLINK soft-reconfiguration inbound
    {%- for uplink in uplinks %}
    {%- if uplink.neighbor_ip %}
    {#- Normal BGP configuration #}
    {%- set neigh = uplink.neighbor_ip %}
    {%- else %}
    {#- BGP unnumbered configuration #}
    {%- set neigh = uplink.neighbor_interface_name %}
    {%- endif %}
    neighbor {{ neigh }} route-map UPLINK-RM-{{ neigh }}-IN in
    neighbor {{ neigh }} route-map UPLINK-RM-{{ neigh }}-OUT out
  {%- endfor %}
  exit-address-family
exit
!
ipv6 prefix-list UPLINK-PL-IN seq 10 permit {{ prefix_uplink }} le 64
ipv6 prefix-list UPLINK-PL-OUT seq 10 permit {{ prefix_downlink_v6 }} ge 96 le 96
ipv6 prefix-list REDIS-PL-IN seq 10 permit {{ prefix_downlink_v6 }} ge 96 le 96
!
{%- for uplink in uplinks %}
  {%- if uplink.neighbor_ip %}
    {#- Normal BGP configuration #}
    {%- set neigh = uplink.neighbor_ip %}
  {%- else %}
    {#- BGP unnumbered configuration #}
    {%- set neigh = uplink.neighbor_interface_name %}
  {%- endif %}
route-map UPLINK-RM-{{ neigh }}-IN permit 1
  match ipv6 address prefix-list UPLINK-PL-IN
  set local-preference {{ 100 - (10 * uplink.neighbor_priority)}}
exit
!
route-map UPLINK-RM-{{ neigh }}-IN deny 2
exit
!
route-map UPLINK-RM-{{ neigh }}-OUT permit 1
  match ipv6 address prefix-list UPLINK-PL-OUT
    {%- if uplink.prepend %}
  set as-path prepend {{ uplink.prepend }}
    {%- endif %}
exit
!
route-map UPLINK-RM-{{ neigh }}-OUT deny 2
exit
!
{%- endfor %}
route-map REDIS-RM-STATIC-TO-BGP permit 1
  match ipv6 address prefix-list REDIS-PL-IN
exit
!
bfd
{%- for uplink in uplinks %}
  {%- if uplink.neighbor_ip %}
  peer {{ uplink.neighbor_ip }} vrf {{ trusted_netns }}
  {%- endif %}
{%- endfor %}
  exit
  !
exit
!
end
