{#- flush all old configuration and drop all IPv4 traffic by default #}
ip netns exec {{ trusted_netns }} iptables -F
ip netns exec {{ trusted_netns }} iptables -P INPUT DROP
ip netns exec {{ trusted_netns }} iptables -P FORWARD DROP
ip netns exec {{ trusted_netns }} iptables -P OUTPUT DROP

{#- flush all old configuration and drop almost all IPv6 traffic by default #}
{#- except traffic originating from the trusted netns #}
ip netns exec {{ trusted_netns }} ip6tables -F
ip netns exec {{ trusted_netns }} ip6tables -N icmpv6-input
ip netns exec {{ trusted_netns }} ip6tables -N icmpv6-forward
ip netns exec {{ trusted_netns }} ip6tables -P INPUT DROP
ip netns exec {{ trusted_netns }} ip6tables -P FORWARD DROP
ip netns exec {{ trusted_netns }} ip6tables -P OUTPUT ACCEPT

{#- allow inbound traffic from the uplink interfaces (BGP) #}
ip netns exec {{ trusted_netns }} ip6tables -A INPUT -p ipv6-icmp -j icmpv6-input
{%- for uplink in uplinks %}
ip netns exec {{ trusted_netns }} ip6tables -A INPUT -i {{ uplink }} -j ACCEPT
{%- endfor %}

{#- allow forward for traffic from the uplink interfaces (management) #}
{%- for uplink in uplinks %}
ip netns exec {{ trusted_netns }} ip6tables -A FORWARD -i {{ uplink }} -j icmpv6-forward
ip netns exec {{ trusted_netns }} ip6tables -A FORWARD -i {{ uplink }} -j ACCEPT
{%- endfor %}
ip netns exec {{ trusted_netns }} ip6tables -A FORWARD -m state --state RELATED,ESTABLISHED -j ACCEPT

{#- create the chains for ICMPv6 allowed traffic #}
ip netns exec {{ trusted_netns }} ip6tables -A icmpv6-input -p ipv6-icmp -m icmp6 --icmpv6-type destination-unreachable -j ACCEPT
ip netns exec {{ trusted_netns }} ip6tables -A icmpv6-input -p ipv6-icmp -m icmp6 --icmpv6-type packet-too-big -j ACCEPT
ip netns exec {{ trusted_netns }} ip6tables -A icmpv6-input -p ipv6-icmp -m icmp6 --icmpv6-type time-exceeded -j ACCEPT
ip netns exec {{ trusted_netns }} ip6tables -A icmpv6-input -p ipv6-icmp -m icmp6 --icmpv6-type parameter-problem -j ACCEPT
ip netns exec {{ trusted_netns }} ip6tables -A icmpv6-input -p ipv6-icmp -m icmp6 --icmpv6-type echo-request -j ACCEPT
ip netns exec {{ trusted_netns }} ip6tables -A icmpv6-input -p ipv6-icmp -m icmp6 --icmpv6-type echo-reply -j ACCEPT
ip netns exec {{ trusted_netns }} ip6tables -A icmpv6-input -p ipv6-icmp -m icmp6 --icmpv6-type 130 -j ACCEPT
ip netns exec {{ trusted_netns }} ip6tables -A icmpv6-input -p ipv6-icmp -m icmp6 --icmpv6-type 131 -j ACCEPT
ip netns exec {{ trusted_netns }} ip6tables -A icmpv6-input -p ipv6-icmp -m icmp6 --icmpv6-type 132 -j ACCEPT
ip netns exec {{ trusted_netns }} ip6tables -A icmpv6-input -p ipv6-icmp -m icmp6 --icmpv6-type router-solicitation -j ACCEPT
ip netns exec {{ trusted_netns }} ip6tables -A icmpv6-input -p ipv6-icmp -m icmp6 --icmpv6-type router-advertisement -j ACCEPT
ip netns exec {{ trusted_netns }} ip6tables -A icmpv6-input -p ipv6-icmp -m icmp6 --icmpv6-type neighbour-solicitation -j ACCEPT
ip netns exec {{ trusted_netns }} ip6tables -A icmpv6-input -p ipv6-icmp -m icmp6 --icmpv6-type neighbour-advertisement -j ACCEPT
ip netns exec {{ trusted_netns }} ip6tables -A icmpv6-input -p ipv6-icmp -j DROP

ip netns exec {{ trusted_netns }} ip6tables -A icmpv6-forward -p ipv6-icmp -m icmp6 --icmpv6-type destination-unreachable -j ACCEPT
ip netns exec {{ trusted_netns }} ip6tables -A icmpv6-forward -p ipv6-icmp -m icmp6 --icmpv6-type packet-too-big -j ACCEPT
ip netns exec {{ trusted_netns }} ip6tables -A icmpv6-forward -p ipv6-icmp -m icmp6 --icmpv6-type time-exceeded -j ACCEPT
ip netns exec {{ trusted_netns }} ip6tables -A icmpv6-forward -p ipv6-icmp -m icmp6 --icmpv6-type parameter-problem -j ACCEPT
ip netns exec {{ trusted_netns }} ip6tables -A icmpv6-forward -p ipv6-icmp -m icmp6 --icmpv6-type echo-request -j ACCEPT
ip netns exec {{ trusted_netns }} ip6tables -A icmpv6-forward -p ipv6-icmp -m icmp6 --icmpv6-type echo-reply -j ACCEPT
ip netns exec {{ trusted_netns }} ip6tables -A icmpv6-forward -p ipv6-icmp -j DROP
