#- NAT64 and NAT66 #}
{#- Must be at the end as both are terminating actions. #}
{%- if mode.name == "ENDPOINT" %}
/usr/sbin/ip netns exec {{ network_instance_name }} /usr/sbin/iptables -t nat -F
/usr/sbin/ip netns exec {{ network_instance_name }} /usr/sbin/ip6tables -t nat -F
{%- endif %}
{%- for interface in downlink_interfaces %}
  {%- if mode.name == "ENDPOINT" %}
/usr/sbin/ip netns exec {{ network_instance_name }} /usr/sbin/iptables -t nat -A POSTROUTING -o {{ interface }} -j MASQUERADE
  {%- endif %}
/usr/sbin/ip netns exec {{ network_instance_name }} /usr/sbin/ip6tables -t nat -A POSTROUTING -o {{ interface }} -j MASQUERADE
{%- endfor %}
