{#- Flush all old configuration and drop all IPv4 traffic by default #}
/usr/sbin/ip netns exec {{ network_instance_name }} /usr/sbin/iptables -F
/usr/sbin/ip netns exec {{ network_instance_name }} /usr/sbin/iptables -P INPUT DROP
/usr/sbin/ip netns exec {{ network_instance_name }} /usr/sbin/iptables -P FORWARD DROP
/usr/sbin/ip netns exec {{ network_instance_name }} /usr/sbin/iptables -P OUTPUT DROP

{#- Flush all old configuration and drop all IPv6 traffic by default #}
/usr/sbin/ip netns exec {{ network_instance_name }} /usr/sbin/ip6tables -F
/usr/sbin/ip netns exec {{ network_instance_name }} /usr/sbin/ip6tables -P INPUT DROP
/usr/sbin/ip netns exec {{ network_instance_name }} /usr/sbin/ip6tables -P FORWARD DROP
/usr/sbin/ip netns exec {{ network_instance_name }} /usr/sbin/ip6tables -P OUTPUT DROP

{% include 'iptables-icmpv6-in-out.conf.j2' %}

{#- Allow IPsec #}
/usr/sbin/ip netns exec {{ network_instance_name }} /usr/sbin/iptables -A INPUT -p esp -j ACCEPT
/usr/sbin/ip netns exec {{ network_instance_name }} /usr/sbin/iptables -A INPUT -p udp --dport  500 --sport  500 -j ACCEPT
/usr/sbin/ip netns exec {{ network_instance_name }} /usr/sbin/iptables -A INPUT -p udp --dport 4500 --sport 4500 -j ACCEPT
/usr/sbin/ip netns exec {{ network_instance_name }} /usr/sbin/iptables -A INPUT -p udp --dport 51820:51899 -j ACCEPT
/usr/sbin/ip netns exec {{ network_instance_name }} /usr/sbin/iptables -A OUTPUT -p esp -j ACCEPT
/usr/sbin/ip netns exec {{ network_instance_name }} /usr/sbin/iptables -A OUTPUT -p udp --dport  500 --sport  500 -j ACCEPT
/usr/sbin/ip netns exec {{ network_instance_name }} /usr/sbin/iptables -A OUTPUT -p udp --dport 4500 --sport 4500 -j ACCEPT
/usr/sbin/ip netns exec {{ network_instance_name }} /usr/sbin/iptables -A OUTPUT -p udp --sport 51820:51899 -j ACCEPT

/usr/sbin/ip netns exec {{ network_instance_name }} /usr/sbin/ip6tables -A INPUT -p esp -j ACCEPT
/usr/sbin/ip netns exec {{ network_instance_name }} /usr/sbin/ip6tables -A INPUT -p udp --dport  500 --sport  500 -j ACCEPT
/usr/sbin/ip netns exec {{ network_instance_name }} /usr/sbin/ip6tables -A INPUT -p udp --dport 4500 --sport 4500 -j ACCEPT
/usr/sbin/ip netns exec {{ network_instance_name }} /usr/sbin/ip6tables -A INPUT -p udp --dport 51820:51899 -j ACCEPT
/usr/sbin/ip netns exec {{ network_instance_name }} /usr/sbin/ip6tables -A OUTPUT -p esp -j ACCEPT
/usr/sbin/ip netns exec {{ network_instance_name }} /usr/sbin/ip6tables -A OUTPUT -p udp --dport  500 --sport  500 -j ACCEPT
/usr/sbin/ip netns exec {{ network_instance_name }} /usr/sbin/ip6tables -A OUTPUT -p udp --dport 4500 --sport 4500 -j ACCEPT
/usr/sbin/ip netns exec {{ network_instance_name }} /usr/sbin/ip6tables -A OUTPUT -p udp --sport 51820:51899 -j ACCEPT
