---
# UNTRUSTED INTERFACE CONFIG
# Untrusted/outside interface
untrusted_if_name: "eth1"
# IP address of untrusted/outside interface
untrusted_if_ip: "192.168.0.150/20"
# Default gateway of untrusted/outside interface
untrusted_if_gw: "192.168.0.1"

# VPN CONFIG
# IKE local identifier for VPNs
local_id: "192.168.0.150"
# Uplink VPNs
uplinks:
  0:
    remote_peer_ip: 192.168.0.252
    psk: secretpassword
  1:
    remote_peer_ip: 192.168.0.253
    psk: secretpassword

# OVERLAY CONFIG
# IPv6 prefix for client initiating administration traffic.
mgmt_prefix: "fd33::/16"
# Tunnel transit prefix for link between trusted namespace and root namespace, must be a /127.
trusted_transit_prefix: "fd33:2:f::/127"
# IP prefix for tunnel interfaces to customers, must be a /16, will get subnetted into /24s
customer_tunnel_prefix: "100.99.0.0/16"

## BGP config
# ASN must be between 4.200.000.000 and 4.294.967.294 inclusive.
bgp_asn: 4255786768
bgp_router_id: "0.0.0.1"
...
