[Unit]
Description=[ NCUBED ] VPNC init
StartLimitInterval=200
StartLimitBurst=5
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=-/bin/python3 /opt/ncubed/vpnc.service/init.py
Restart=on-failure
RestartSec=15
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
