[Unit]
Description=ncubed VPNC endpoint strongSwan IPsec init
StartLimitInterval=200
StartLimitBurst=5
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/ncubed
ExecStart=/opt/ncubed/vpnc/.venv/bin/vpnc endpoint
Restart=on-failure
RestartSec=15

[Install]
WantedBy=multi-user.target
