{#- Configures FRR -#}
frr defaults traditional
service integrated-vtysh-config
ip forwarding
ipv6 forwarding
agentx
!
vrf {{ trusted_netns }}
  netns /run/netns/{{ trusted_netns }}
  router-id {{ bgp_router_id }}
!
vrf {{ untrusted_netns }}
  netns /run/netns/{{ untrusted_netns }}
!
router bgp {{ bgp_asn }} vrf {{ trusted_netns }}
  neighbor MGMT-TRANSIT peer-group
  neighbor MGMT-TRANSIT bfd
  neighbor MGMT-TRANSIT advertisement-interval 0
  neighbor MGMT-TRANSIT timers 10 30
{%- for uplink in uplinks %}
  {%- if uplink.xfrm_ip %}
  {#- Normal BGP configuration #}
  neighbor {{ uplink.xfrm_ip }} remote-as {{ uplink.asn }}
  neighbor {{ uplink.xfrm_ip }} peer-group MGMT-TRANSIT
  {%- else %}
  {#- BGP unnumbered configuration #}
  neighbor {{ uplink.xfrm_name }} interface remote-as external
  neighbor {{ uplink.xfrm_name }} peer-group MGMT-TRANSIT
  {%- endif %}
{%- endfor %}
  address-family ipv6 unicast
    redistribute connected route-map REDIS-RM-STATIC-TO-BGP
    redistribute kernel route-map REDIS-RM-STATIC-TO-BGP
    neighbor MGMT-TRANSIT activate
    neighbor MGMT-TRANSIT route-map MGMT-TRANSIT-RM-IN in
    neighbor MGMT-TRANSIT route-map MGMT-TRANSIT-RM-OUT out
    neighbor MGMT-TRANSIT soft-reconfiguration inbound
  exit-address-family
exit
!
ipv6 prefix-list MGMT-TRANSIT-PL-IN seq 10 permit {{ prefix_uplink }} le 64
ipv6 prefix-list MGMT-TRANSIT-PL-OUT seq 10 permit {{ prefix_downlink_v6 }} ge 96 le 96
ipv6 prefix-list REDIS-PL-IN seq 10 permit {{ prefix_downlink_v6 }} ge 96 le 96
!
route-map MGMT-TRANSIT-RM-IN permit 1
  match ipv6 address prefix-list MGMT-TRANSIT-PL-IN
exit
!
route-map MGMT-TRANSIT-RM-IN deny 2
exit
!
route-map MGMT-TRANSIT-RM-OUT permit 1
  match ipv6 address prefix-list MGMT-TRANSIT-PL-OUT
exit
!
route-map MGMT-TRANSIT-RM-OUT deny 2
exit
!
route-map REDIS-RM-STATIC-TO-BGP permit 1
  match ipv6 address prefix-list REDIS-PL-IN
exit
!
bfd
{%- for uplink in uplinks %}
  {%- if uplink.xfrm_ip %}
  peer {{ uplink.xfrm_ip }} vrf {{ trusted_netns }}
  {%- endif %}
{%- endfor %}
 exit
 !
exit
!
end
