connections {
    # Section for an IKE connection named <conn>.
    uplink1 : uplink-defaults {
        # Local address(es) to use for IKE communication, comma separated.
        local_addrs = %any
        # Remote address(es) to use for IKE communication, comma separated.
        remote_addrs = {{ uplink_remote_addr_1 }}
    }

    uplink2 : uplink-defaults{
        # Local address(es) to use for IKE communication, comma separated.
        local_addrs = %any
        # Remote address(es) to use for IKE communication, comma separated.
        remote_addrs = {{ uplink_remote_addr_2 }}
    }
}

secrets {
    ike-1 {
        id = uplink.ncubed.io
        secret = "{{ psk }}"
    }
}
