connections {
    # Section for an IKE connection named <conn>.
{% for conn in connections %}
    {{ conn.name }} : uplink-defaults {
        # Remote address(es) to use for IKE communication, comma separated.
        remote_addrs = {{ conn.vpn_peer_ip }}
        # Section for a local authentication round.
        local {
            id = {{ conn.local_id }}
        }
        # Section for a remote authentication round.
        remote {
            id = {{ conn.remote_id }}
        }
    }
{% endfor %}
}

secrets {
{% for connection in connections %}
    ike-{{ conn.name }} {
        secret = "{{ conn.psk }}"
    }
{% endfor %}
}
