---
customer_id: {{ cust_id }}
customer_name: {{ cust_name }}
tunnels:
  0:
    # ike_version: {{ ike_version }}
    remote_peer_ip: {{ remote_peer_ip }}
    psk: {{ psk }}
    ike_proposal: {{ ike_proposal }}
    ipsec_proposal: {{ ipsec_proposal }}
    # traffic_selectors:
    #   local:
    #     - {{ local_1 }}
    #     - {{ local_2 }}
    #     - {{ local_3 }}
    #   remote:
    #     - {{ remote_1 }}
    #     - {{ remote_2 }}
    #     - {{ remote_3 }}
