[Unit]
Description=ncubed VPNC hub strongSwan IPsec init
StartLimitInterval=200
StartLimitBurst=5
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/ncubed/vpncservice/.venv/bin/python3 /opt/ncubed/vpncservice/main.py hub
Restart=on-failure
RestartSec=15

[Install]
WantedBy=multi-user.target
