[Unit]
Description=ncubed VPNC hub strongSwan IPsec init
StartLimitInterval=200
StartLimitBurst=5
Wants=network-online.target
Wants=frr.service
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/ncubed
ExecStart=/opt/ncubed/vpncservice/.venv/bin/python3 -m vpncservice.main hub
Restart=on-failure
RestartSec=15

[Install]
WantedBy=multi-user.target
